noderedbackup.json
[{"id":"3aa227d6.9e1b88","type":"tab","label":"Diagnostic","disabled":true,"info":""},{"id":"324f5e54.ded6d2","type":"tab","label":"MongoDB2CSV Exporter"},{"id":"702583a0.d95b6c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"2d804d64.b037b2","type":"tab","label":"Download Webpage"},{"id":"66a4c830.33d258","type":"tab","label":"Main Bedroom Sensor","disabled":false,"info":"Main Bedroom Sensor\n-------------------\n\nKev & Jen's Bedroom"},{"id":"1dad9996.e81cb6","type":"tab","label":"Alex Room","disabled":false,"info":""},{"id":"94a4de83.e6708","type":"tab","label":"Main Hall","disabled":false,"info":""},{"id":"daf5089f.e1c6a8","type":"tab","label":"Loft","disabled":false,"info":""},{"id":"d26c045e.cfa138","type":"tab","label":"Flow 1"},{"id":"9a4c3fce.6a801","type":"tab","label":"Email","disabled":true,"info":""},{"id":"3616f39.b20230c","type":"tab","label":"Motion Sensors","disabled":false,"info":""},{"id":"ec033db7.91a4c","type":"tab","label":"Nest","disabled":false,"info":""},{"id":"279be67c.ee4dfa","type":"tab","label":"Example","disabled":true,"info":""},{"id":"8692a498.c15788","type":"mqtt-broker","z":"","broker":"192.168.1.152","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"d67fc863.282e48","type":"ui_group","z":"","name":"Humidity","tab":"a45e08ba.83c6b8","order":1,"disp":true,"width":"12"},{"id":"a45e08ba.83c6b8","type":"ui_tab","z":0,"name":"Home","icon":"dashboard"},{"id":"77db59ab.715f48","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9b6d1ca5.dfc0a","type":"mqtt-broker","z":"","broker":"192.168.1.152","port":"1883","clientid":"Node-Red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"8b333558.5c5d08","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"temperature","name":""},{"id":"6fddd8da.1b2428","type":"ui_group","z":"","name":"Actions","tab":"a45e08ba.83c6b8","order":3,"disp":true,"width":"4"},{"id":"74f0cdca.3b09a4","type":"mqtt-broker","z":"","broker":"192.168.1.152","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"e251f0d8.ac458","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"temperature","name":""},{"id":"9e3ac2bf.73c09","type":"ui_group","z":"","name":"Temperature","tab":"a45e08ba.83c6b8","order":2,"disp":true,"width":"12"},{"id":"af312d05.44a6d","type":"ui_group","z":"","name":"Charts","tab":"a45e08ba.83c6b8","order":4,"disp":true,"width":"6"},{"id":"f8a3dba1.03a998","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.1.142","key":"KwXmluqCxZoNoBUNnaP0stXBRlBbTzwsnzTQHRhp","interval":"3000"},{"id":"e787fab.76b4d08","type":"homekit-accessory","z":"","accessoryName":"Upstairs Hall Sensor","pinCode":"111-11-111","port":"","manufacturer":"Node-red","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"10"},{"id":"934b7a9c.5d87e8","type":"hue-bridge","z":"","name":"Philips hue 2.OG","bridge":"192.168.178.82","key":"1c9-iDOTUO1F6sdEy3rYArh6oYkrbH9zHy3eXwpO","interval":"3000"},{"id":"ea1c15e4.25f938","type":"homekit-accessory","z":"","accessoryName":"Hue MotionSensor Treppenhaus - 2.OG","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"10"},{"id":"440449ea.2788e8","type":"nest-config","z":"","account":"My NEST"},{"id":"936a6a45.3af9f8","type":"homekit-accessory","z":"","accessoryName":"Nest","pinCode":"111-11-111","port":"","manufacturer":"Node-red","model":"Nest","serialNo":"Default Serial Number","accessoryType":"9"},{"id":"bb56c6b5.309c78","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"49990c1e.fe5004","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"9579c8f1.55e568","type":"hue-bridge","z":"","name":"Philips hue 2.OG","bridge":"192.168.178.82","key":"1c9-iDOTUO1F6sdEy3rYArh6oYkrbH9zHy3eXwpO","interval":"3000"},{"id":"1c7c5077.9aa7","type":"homekit-accessory","z":"","accessoryName":"Hue MotionSensor Treppenhaus - 1.OG","pinCode":"111-11-111","port":"","manufacturer":"Default Manufacturer","model":"Default Model","serialNo":"Default Serial Number","accessoryType":"10"},{"id":"4a725ca6.52d1d4","type":"mqtt in","z":"3aa227d6.9e1b88","name":"","topic":"/home/temp/alexbedroom","qos":"2","broker":"74f0cdca.3b09a4","x":210,"y":120,"wires":[[]]},{"id":"c88e80a5.113c8","type":"trigger","z":"3aa227d6.9e1b88","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","name":"","x":260,"y":280,"wires":[[]]},{"id":"2d863bb7.c57e34","type":"e-mail","z":"3aa227d6.9e1b88","server":"smtp.gmail.com","port":"465","secure":true,"name":"kevinmcaleer@gmail.com","dname":"kevinmcaleer@gmail.com","x":910,"y":220,"wires":[]},{"id":"c612300f.15e9e","type":"delay","z":"3aa227d6.9e1b88","name":"Email Temp Alex room","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":660,"y":220,"wires":[["2d863bb7.c57e34"]]},{"id":"47b0ce7c.a5248","type":"mongodb in","z":"324f5e54.ded6d2","mongodb":"8b333558.5c5d08","name":"getTemp","collection":"temperature","operation":"find","x":300,"y":100,"wires":[["6e8f6f7b.8955a"]]},{"id":"6697d8de.a7ba88","type":"file","z":"324f5e54.ded6d2","name":"temps.csv","filename":"/home/pi/share/temps.csv","appendNewline":true,"createDir":true,"overwriteFile":"true","x":690,"y":100,"wires":[]},{"id":"ee9b024.7dfd8","type":"ui_button","z":"324f5e54.ded6d2","name":"Export CSV","group":"6fddd8da.1b2428","order":3,"width":0,"height":0,"passthru":false,"label":"Export CSV","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"str","topic":"","x":120,"y":100,"wires":[["47b0ce7c.a5248"]]},{"id":"6e8f6f7b.8955a","type":"csv","z":"324f5e54.ded6d2","name":"tempToCSV","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\n","temp":"date, time, location, publisher, temperature, pressure, humidity","x":490,"y":100,"wires":[["6697d8de.a7ba88"]]},{"id":"6892760c.e760d8","type":"mqtt in","z":"66a4c830.33d258","name":"","topic":"/home/temp/bedroom","qos":"2","broker":"74f0cdca.3b09a4","x":120,"y":60,"wires":[["3677e200.17b55e"]]},{"id":"bbd6857e.147258","type":"debug","z":"66a4c830.33d258","name":"","active":true,"console":"false","complete":"payload","x":970,"y":140,"wires":[]},{"id":"4d79b61a.8130d8","type":"function","z":"66a4c830.33d258","name":"","func":"var location = {location : \"Bedroom\"};\nmsg.payload = location;\n\nnode.status({text:location.location, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["8848d7db.258f78"]]},{"id":"8848d7db.258f78","type":"join","z":"66a4c830.33d258","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":710,"y":80,"wires":[["886271cd.915e3"]]},{"id":"3677e200.17b55e","type":"switch","z":"66a4c830.33d258","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":340,"y":60,"wires":[[],[],["597357c7.926468"]]},{"id":"597357c7.926468","type":"json","z":"66a4c830.33d258","name":"","x":540,"y":80,"wires":[["8848d7db.258f78","c6e538df.43e968","9ba0756d.dc0fa8"]]},{"id":"886271cd.915e3","type":"mongodb out","z":"66a4c830.33d258","mongodb":"e251f0d8.ac458","name":"temperature","collection":"temperature","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":970,"y":80,"wires":[]},{"id":"dc93eea4.3bdbd","type":"inject","z":"66a4c830.33d258","name":"time","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":290,"y":220,"wires":[["b0ed80d4.096f4","d55563ee.33da4","4d79b61a.8130d8"]]},{"id":"b0ed80d4.096f4","type":"function","z":"66a4c830.33d258","name":"time","func":"var d = new Date();\n\n// var time = String();\nvar day = d.getDate() < 10 ? \"0\" + (d.getDate()) : d.getDate();\nvar month = d.getMonth() < 10 ? \"0\" + d.getMonth() : d.getMonth();\nvar year = d.getFullYear();\nvar h = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\nvar m = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\nvar s = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\nvar time = \"\";\nvar date = \"\";\ndate = day.toString() + \"/\" + month.toString() + \"/\" + year.toString();\ntime = h.toString() + \":\" + m.toString() + \":\" + s.toString();  \n//node.send(time)\n//msg.payload = date;\n//msg.payload = msg.payload + \", \" + time;\n\nvar timestamp = { \"time\" :  time ,  \"date\" : date };\nconsole.log(timestamp);\n//msg.payload = msg.payload + timestamp;\nmsg.payload = timestamp;\nmsg.complete = true;\nnode.status({text:time, fill:\"blue\",shape:\"ring\"})\n// msg.payload = msg.payload + \"{ time: \" + d.toJSON()+ \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":240,"wires":[["8848d7db.258f78"]]},{"id":"d55563ee.33da4","type":"function","z":"66a4c830.33d258","name":"location","func":"location = { location : \"Livingroom\"};\nmsg.payload = location ;\nnode.status({text:location.location, fill:\"blue\", shape:\"ring\"})\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":300,"wires":[["8848d7db.258f78"]]},{"id":"c9988550.970e58","type":"mqtt out","z":"66a4c830.33d258","name":"temp","topic":"/home/temp/kevjenbedroom","qos":"","retain":"","broker":"74f0cdca.3b09a4","x":1130,"y":220,"wires":[]},{"id":"3a6c2c4b.347724","type":"mqtt out","z":"66a4c830.33d258","name":"humidity","topic":"/home/humidity/kevjenbedroom","qos":"","retain":"","broker":"74f0cdca.3b09a4","x":1140,"y":320,"wires":[]},{"id":"c6e538df.43e968","type":"function","z":"66a4c830.33d258","name":"temperature","func":"msg.payload = msg.payload.temperature;\n\nnode.status({text:msg.temperature, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["bbd6857e.147258","876ec009.3d42c"]]},{"id":"9ba0756d.dc0fa8","type":"function","z":"66a4c830.33d258","name":"humidity","func":"msg.payload = msg.payload.humidity;\n\nnode.status({text:msg.humidity, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["6dbe5808.425638","bbd6857e.147258"]]},{"id":"876ec009.3d42c","type":"switch","z":"66a4c830.33d258","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":960,"y":220,"wires":[[],[],["c9988550.970e58","196180f0.4d451f"]]},{"id":"6dbe5808.425638","type":"switch","z":"66a4c830.33d258","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":960,"y":320,"wires":[[],[],["3a6c2c4b.347724","fd2bf7ad.528bd8"]]},{"id":"17bad905.5bf4f7","type":"mqtt in","z":"1dad9996.e81cb6","name":"","topic":"/home/temp/alexroom","qos":"2","broker":"74f0cdca.3b09a4","x":160,"y":160,"wires":[["6d943c8e.78c5f4"]]},{"id":"abc55d62.38e0f","type":"debug","z":"1dad9996.e81cb6","name":"","active":true,"console":"false","complete":"payload","x":1010,"y":240,"wires":[]},{"id":"e68f25e4.9739e8","type":"function","z":"1dad9996.e81cb6","name":"","func":"var location = {location : \"Bedroom\"};\nmsg.payload = location;\n\nnode.status({text:location.location, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["88775484.45a688"]]},{"id":"88775484.45a688","type":"join","z":"1dad9996.e81cb6","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":750,"y":180,"wires":[["a6cb3f08.c1dde","abc55d62.38e0f"]]},{"id":"6d943c8e.78c5f4","type":"switch","z":"1dad9996.e81cb6","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":380,"y":160,"wires":[[],[],["8b7cef4d.eb0f2","40689c1d.b9d494"]]},{"id":"8b7cef4d.eb0f2","type":"json","z":"1dad9996.e81cb6","name":"","x":580,"y":180,"wires":[["88775484.45a688","c180a18d.e4013","7eacf3ae.f0c71c"]]},{"id":"a6cb3f08.c1dde","type":"mongodb out","z":"1dad9996.e81cb6","mongodb":"e251f0d8.ac458","name":"temperature","collection":"temperature","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1010,"y":180,"wires":[]},{"id":"3cf68d46.901662","type":"inject","z":"1dad9996.e81cb6","name":"time","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":330,"y":320,"wires":[["c11b77bd.640878","83474008.2fc17","e68f25e4.9739e8","ee629273.80847"]]},{"id":"c11b77bd.640878","type":"function","z":"1dad9996.e81cb6","name":"time","func":"var d = new Date();\n\n// var time = String();\nvar day = d.getDate() < 10 ? \"0\" + (d.getDate()) : d.getDate();\nvar month = d.getMonth() < 10 ? \"0\" + d.getMonth() : d.getMonth();\nvar year = d.getFullYear();\nvar h = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\nvar m = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\nvar s = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\nvar time = \"\";\nvar date = \"\";\ndate = day.toString() + \"/\" + month.toString() + \"/\" + year.toString();\ntime = h.toString() + \":\" + m.toString() + \":\" + s.toString();  \n//node.send(time)\n//msg.payload = date;\n//msg.payload = msg.payload + \", \" + time;\n\nvar timestamp = { \"time\" :  time ,  \"date\" : date };\nconsole.log(timestamp);\n//msg.payload = msg.payload + timestamp;\nmsg.payload = timestamp;\nmsg.complete = true;\nnode.status({text:time, fill:\"blue\",shape:\"ring\"})\n// msg.payload = msg.payload + \"{ time: \" + d.toJSON()+ \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["88775484.45a688"]]},{"id":"83474008.2fc17","type":"function","z":"1dad9996.e81cb6","name":"location","func":"location = { location : \"alexroom\"};\nmsg.payload = location ;\nnode.status({text:location.location, fill:\"blue\", shape:\"ring\"})\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":400,"wires":[["88775484.45a688"]]},{"id":"7024d0a4.2493c","type":"mqtt out","z":"1dad9996.e81cb6","name":"temp","topic":"/home/temp/alexbedroom","qos":"","retain":"","broker":"74f0cdca.3b09a4","x":1290,"y":340,"wires":[]},{"id":"f329eff8.4a6","type":"mqtt out","z":"1dad9996.e81cb6","name":"humidity","topic":"/home/humidity/alexbedroom","qos":"","retain":"","broker":"74f0cdca.3b09a4","x":1300,"y":420,"wires":[]},{"id":"c180a18d.e4013","type":"function","z":"1dad9996.e81cb6","name":"temperature","func":"msg.payload = msg.payload.temperature;\n\nnode.status({text:msg.temperature, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":320,"wires":[["abc55d62.38e0f","98d0c03f.c4c32"]]},{"id":"7eacf3ae.f0c71c","type":"function","z":"1dad9996.e81cb6","name":"humidity","func":"msg.payload = msg.payload.humidity;\n\nnode.status({text:msg.humidity, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":400,"wires":[["59025479.bd953c","abc55d62.38e0f"]]},{"id":"98d0c03f.c4c32","type":"switch","z":"1dad9996.e81cb6","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1040,"y":320,"wires":[[],[],["7024d0a4.2493c","da51c75a.76b028"]]},{"id":"59025479.bd953c","type":"switch","z":"1dad9996.e81cb6","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1040,"y":420,"wires":[[],[],["f329eff8.4a6","89d7d116.1b5a7"]]},{"id":"eab7515b.d59c4","type":"switch","z":"3aa227d6.9e1b88","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"20","vt":"str"}],"checkall":"true","outputs":1,"x":460,"y":160,"wires":[[]]},{"id":"7b27a463.717bac","type":"mqtt in","z":"94a4de83.e6708","name":"","topic":"/home/temp/hall","qos":"2","broker":"74f0cdca.3b09a4","x":140,"y":120,"wires":[["c58c743c.b395c8"]]},{"id":"ba82762b.8bafa8","type":"debug","z":"94a4de83.e6708","name":"","active":true,"console":"false","complete":"payload","x":1010,"y":200,"wires":[]},{"id":"13eba233.24d1de","type":"function","z":"94a4de83.e6708","name":"","func":"var location = {location : \"Bedroom\"};\nmsg.payload = location;\n\nnode.status({text:location.location, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["f7eb1f37.6fb51"]]},{"id":"f7eb1f37.6fb51","type":"join","z":"94a4de83.e6708","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":750,"y":140,"wires":[["b4af1ff2.568c5"]]},{"id":"c58c743c.b395c8","type":"switch","z":"94a4de83.e6708","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":380,"y":120,"wires":[[],[],["8e752467.f5b978"]]},{"id":"8e752467.f5b978","type":"json","z":"94a4de83.e6708","name":"","x":580,"y":140,"wires":[["f7eb1f37.6fb51","60a82ae8.c03aa4","bdfbae69.5c957"]]},{"id":"b4af1ff2.568c5","type":"mongodb out","z":"94a4de83.e6708","mongodb":"e251f0d8.ac458","name":"temperature","collection":"temperature","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1010,"y":140,"wires":[]},{"id":"b90c27ec.6e8e28","type":"inject","z":"94a4de83.e6708","name":"time","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":330,"y":280,"wires":[["f23fd620.9fa608","1ac78237.da452e","13eba233.24d1de","8ed74ed5.b5f29"]]},{"id":"f23fd620.9fa608","type":"function","z":"94a4de83.e6708","name":"time","func":"var d = new Date();\n\n// var time = String();\nvar day = d.getDate() < 10 ? \"0\" + (d.getDate()) : d.getDate();\nvar month = d.getMonth() < 10 ? \"0\" + d.getMonth() : d.getMonth();\nvar year = d.getFullYear();\nvar h = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\nvar m = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\nvar s = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\nvar time = \"\";\nvar date = \"\";\ndate = day.toString() + \"/\" + month.toString() + \"/\" + year.toString();\ntime = h.toString() + \":\" + m.toString() + \":\" + s.toString();  \n//node.send(time)\n//msg.payload = date;\n//msg.payload = msg.payload + \", \" + time;\n\nvar timestamp = { \"time\" :  time ,  \"date\" : date };\nconsole.log(timestamp);\n//msg.payload = msg.payload + timestamp;\nmsg.payload = timestamp;\nmsg.complete = true;\nnode.status({text:time, fill:\"blue\",shape:\"ring\"})\n// msg.payload = msg.payload + \"{ time: \" + d.toJSON()+ \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["f7eb1f37.6fb51"]]},{"id":"1ac78237.da452e","type":"function","z":"94a4de83.e6708","name":"location","func":"location = { location : \"mainhall\"};\nmsg.payload = location ;\nnode.status({text:location.location, fill:\"blue\", shape:\"ring\"})\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["f7eb1f37.6fb51"]]},{"id":"84fcf0b2.e5b7a","type":"mqtt out","z":"94a4de83.e6708","name":"temp","topic":"/home/temp/mainhall","qos":"","retain":"","broker":"74f0cdca.3b09a4","x":1170,"y":280,"wires":[]},{"id":"73b351fe.27485","type":"mqtt out","z":"94a4de83.e6708","name":"humidity","topic":"/home/humidity/alexbedroom","qos":"","retain":"","broker":"74f0cdca.3b09a4","x":1180,"y":380,"wires":[]},{"id":"60a82ae8.c03aa4","type":"function","z":"94a4de83.e6708","name":"temperature","func":"msg.payload = msg.payload.temperature;\n\nnode.status({text:msg.temperature, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":280,"wires":[["ba82762b.8bafa8","79659ddf.35ad04"]]},{"id":"bdfbae69.5c957","type":"function","z":"94a4de83.e6708","name":"humidity","func":"msg.payload = msg.payload.humidity;\n\nnode.status({text:msg.humidity, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":360,"wires":[["6c369d6d.cbb224","ba82762b.8bafa8"]]},{"id":"79659ddf.35ad04","type":"switch","z":"94a4de83.e6708","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1000,"y":280,"wires":[[],[],["84fcf0b2.e5b7a","6194e7f6.2a6bd8"]]},{"id":"6c369d6d.cbb224","type":"switch","z":"94a4de83.e6708","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1000,"y":380,"wires":[[],[],["73b351fe.27485","fe3239a8.daa1c8"]]},{"id":"f71f38e9.cf1e38","type":"mqtt in","z":"3aa227d6.9e1b88","name":"","topic":"/home/#","qos":"2","broker":"74f0cdca.3b09a4","x":270,"y":480,"wires":[["4c9a2f51.96dcd","64290650.13b808"]]},{"id":"4c9a2f51.96dcd","type":"html","z":"3aa227d6.9e1b88","name":"","tag":"","ret":"html","as":"single","x":490,"y":580,"wires":[["2572a663.e2916a"]]},{"id":"2572a663.e2916a","type":"http response","z":"3aa227d6.9e1b88","name":"","statusCode":"","headers":{},"x":700,"y":640,"wires":[]},{"id":"a6758316.934fa","type":"http in","z":"3aa227d6.9e1b88","name":"","url":"/mqtt","method":"get","upload":false,"swaggerDoc":"","x":330,"y":660,"wires":[["2572a663.e2916a"]]},{"id":"64290650.13b808","type":"debug","z":"3aa227d6.9e1b88","name":"","active":true,"console":"false","complete":"false","x":680,"y":480,"wires":[]},{"id":"4cc00784.0f2818","type":"mqtt in","z":"3aa227d6.9e1b88","name":"","topic":"/home/temp/hall","qos":"2","broker":"74f0cdca.3b09a4","x":330,"y":380,"wires":[[]]},{"id":"c989e0ad.77396","type":"debug","z":"3aa227d6.9e1b88","name":"","active":false,"console":"false","complete":"false","x":610,"y":360,"wires":[]},{"id":"bb5f3bd8.71f528","type":"mqtt in","z":"daf5089f.e1c6a8","name":"","topic":"/home/temp/loft","qos":"2","broker":"74f0cdca.3b09a4","x":140,"y":100,"wires":[["cf3191d5.aecec"]]},{"id":"a6fcc351.4bdae","type":"debug","z":"daf5089f.e1c6a8","name":"","active":true,"console":"false","complete":"payload","x":1010,"y":180,"wires":[]},{"id":"4764b4d4.30e99c","type":"function","z":"daf5089f.e1c6a8","name":"","func":"var location = {location : \"Bedroom\"};\nmsg.payload = location;\n\nnode.status({text:location.location, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":200,"wires":[["1b1493a.5301c6c"]]},{"id":"1b1493a.5301c6c","type":"join","z":"daf5089f.e1c6a8","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":750,"y":120,"wires":[["62fb9fa9.23dd5","a6fcc351.4bdae"]]},{"id":"cf3191d5.aecec","type":"switch","z":"daf5089f.e1c6a8","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":380,"y":100,"wires":[[],[],["a7188ed0.9e69"]]},{"id":"a7188ed0.9e69","type":"json","z":"daf5089f.e1c6a8","name":"","x":580,"y":120,"wires":[["1b1493a.5301c6c","86877e0b.b9fed","bcb8ef6b.5cfe4"]]},{"id":"62fb9fa9.23dd5","type":"mongodb out","z":"daf5089f.e1c6a8","mongodb":"e251f0d8.ac458","name":"temperature","collection":"temperature","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1010,"y":120,"wires":[]},{"id":"32cbd0ef.4b768","type":"inject","z":"daf5089f.e1c6a8","name":"time","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":330,"y":260,"wires":[["4764b4d4.30e99c","a0275354.85aa4","9569a4c7.326f28"]]},{"id":"a0275354.85aa4","type":"function","z":"daf5089f.e1c6a8","name":"time","func":"var d = new Date();\n\n// var time = String();\nvar day = d.getDate() < 10 ? \"0\" + (d.getDate()) : d.getDate();\nvar month = d.getMonth() < 10 ? \"0\" + d.getMonth() : d.getMonth();\nvar year = d.getFullYear();\nvar h = d.getHours() < 10 ? \"0\" + d.getHours() : d.getHours();\nvar m = d.getMinutes() < 10 ? \"0\" + d.getMinutes() : d.getMinutes();\nvar s = d.getSeconds() < 10 ? \"0\" + d.getSeconds() : d.getSeconds();\nvar time = \"\";\nvar date = \"\";\ndate = day.toString() + \"/\" + month.toString() + \"/\" + year.toString();\ntime = h.toString() + \":\" + m.toString() + \":\" + s.toString();  \n//node.send(time)\n//msg.payload = date;\n//msg.payload = msg.payload + \", \" + time;\n\nvar timestamp = { \"time\" :  time ,  \"date\" : date };\nconsole.log(timestamp);\n//msg.payload = msg.payload + timestamp;\nmsg.payload = timestamp;\nmsg.complete = true;\nnode.status({text:time, fill:\"blue\",shape:\"ring\"})\n// msg.payload = msg.payload + \"{ time: \" + d.toJSON()+ \"}\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":280,"wires":[["1b1493a.5301c6c"]]},{"id":"9569a4c7.326f28","type":"function","z":"daf5089f.e1c6a8","name":"location","func":"location = { location : \"loft\"};\nmsg.payload = location ;\nnode.status({text:location.location, fill:\"blue\", shape:\"ring\"})\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":340,"wires":[["1b1493a.5301c6c"]]},{"id":"6f87a915.fa9fd8","type":"mqtt out","z":"daf5089f.e1c6a8","name":"temp","topic":"/home/temp/loftsensor","qos":"","retain":"","broker":"74f0cdca.3b09a4","x":1170,"y":260,"wires":[]},{"id":"f7f919c6.0a73a8","type":"mqtt out","z":"daf5089f.e1c6a8","name":"humidity","topic":"/home/humidity/loftsensor","qos":"","retain":"","broker":"74f0cdca.3b09a4","x":1180,"y":360,"wires":[]},{"id":"86877e0b.b9fed","type":"function","z":"daf5089f.e1c6a8","name":"temperature","func":"msg.payload = msg.payload.temperature;\n\nnode.status({text:msg.temperature, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":260,"wires":[["44e65fe6.7a8be","a6fcc351.4bdae"]]},{"id":"bcb8ef6b.5cfe4","type":"function","z":"daf5089f.e1c6a8","name":"humidity","func":"msg.payload = msg.payload.humidity;\n\nnode.status({text:msg.humidity, fill:\"blue\", shape:\"ring\"});\n//msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":340,"wires":[["151ee0e0.e69cef","a6fcc351.4bdae"]]},{"id":"44e65fe6.7a8be","type":"switch","z":"daf5089f.e1c6a8","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1000,"y":260,"wires":[[],[],["6f87a915.fa9fd8","1cc497ad.ab1d78"]]},{"id":"151ee0e0.e69cef","type":"switch","z":"daf5089f.e1c6a8","name":"Check for NaN","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"NaN","vt":"str"},{"t":"eq","v":"u","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":1000,"y":360,"wires":[[],[],["f7f919c6.0a73a8","d176d7ff.22c268"]]},{"id":"ee629273.80847","type":"function","z":"1dad9996.e81cb6","name":"publisher","func":"publisher = { publisher : \"node-red on .158\"};\nmsg.payload = publisher ;\nnode.status({text:publisher.publisher, fill:\"blue\", shape:\"ring\"})\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":460,"wires":[[]]},{"id":"8ed74ed5.b5f29","type":"function","z":"94a4de83.e6708","name":"publisher","func":"publisher = { publisher : \"node-red on .158\"};\nmsg.payload = publisher ;\nnode.status({text:publisher.publisher, fill:\"blue\", shape:\"ring\"})\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":420,"wires":[[]]},{"id":"f18a03bb.8722b","type":"ui_gauge","z":"702583a0.d95b6c","name":"","group":"9e3ac2bf.73c09","order":3,"width":"4","height":"4","gtype":"gage","title":"Alex's room","label":"units","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":60,"wires":[]},{"id":"40689c1d.b9d494","type":"link out","z":"1dad9996.e81cb6","name":"Alexroom Input from the sensor","links":[],"x":575,"y":100,"wires":[]},{"id":"da51c75a.76b028","type":"link out","z":"1dad9996.e81cb6","name":"Alexroom Output Temp","links":["18ec4dd3.f12132"],"x":1255,"y":240,"wires":[]},{"id":"89d7d116.1b5a7","type":"link out","z":"1dad9996.e81cb6","name":"Alexroom Output Humidity","links":["6abaa8eb.7a5118"],"x":1255,"y":520,"wires":[]},{"id":"18ec4dd3.f12132","type":"link in","z":"702583a0.d95b6c","name":"Alexroom Temp In","links":["da51c75a.76b028"],"x":215,"y":60,"wires":[["f18a03bb.8722b"]]},{"id":"921dd309.f0d75","type":"http in","z":"2d804d64.b037b2","name":"","url":"/download","method":"get","swaggerDoc":"","x":100,"y":140,"wires":[["5e1e9fb8.5242e","59b605e4.fa893c"]]},{"id":"f672cb93.2e7c78","type":"http response","z":"2d804d64.b037b2","name":"","statusCode":"","headers":{},"x":540,"y":280,"wires":[]},{"id":"59b605e4.fa893c","type":"function","z":"2d804d64.b037b2","name":"","func":"msg.payload = '<a href=\"/home/pi/temps.csv\">Download Temperatures</a>';\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["f672cb93.2e7c78"]]},{"id":"f02c62e2.cf0fa","type":"debug","z":"2d804d64.b037b2","name":"","active":true,"console":"false","complete":"payload","x":670,"y":180,"wires":[]},{"id":"5e1e9fb8.5242e","type":"json","z":"2d804d64.b037b2","name":"","pretty":false,"x":250,"y":100,"wires":[["2a5ac38c.cd36ec"]]},{"id":"2a5ac38c.cd36ec","type":"switch","z":"2d804d64.b037b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","outputs":1,"x":410,"y":80,"wires":[["f02c62e2.cf0fa"]]},{"id":"196180f0.4d451f","type":"link out","z":"66a4c830.33d258","name":"Main Bedroom Temp Out","links":["1099fc8.4e5fd04"],"x":1160,"y":180,"wires":[]},{"id":"fd2bf7ad.528bd8","type":"link out","z":"66a4c830.33d258","name":"Main Bedroom Humidity Out","links":["1e3da431.0e6edc"],"x":1160,"y":280,"wires":[]},{"id":"1099fc8.4e5fd04","type":"link in","z":"702583a0.d95b6c","name":"Bedroom Temp In","links":["196180f0.4d451f"],"x":215,"y":100,"wires":[["3d42e499.687d6c"]]},{"id":"3d42e499.687d6c","type":"ui_gauge","z":"702583a0.d95b6c","name":"","group":"9e3ac2bf.73c09","order":2,"width":"4","height":"4","gtype":"gage","title":"Main Bedroom","label":"units","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":100,"wires":[]},{"id":"3214da08.8a2806","type":"link in","z":"702583a0.d95b6c","name":"Bedroom Temp In","links":["6194e7f6.2a6bd8"],"x":215,"y":140,"wires":[[]]},{"id":"655cb093.2fd8","type":"ui_gauge","z":"702583a0.d95b6c","name":"","group":"9e3ac2bf.73c09","order":4,"width":"4","height":"4","gtype":"gage","title":"Main Hall","label":"units","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":140,"wires":[]},{"id":"d8002955.3e2378","type":"link in","z":"702583a0.d95b6c","name":"Bedroom Temp In","links":["1cc497ad.ab1d78"],"x":215,"y":180,"wires":[[]]},{"id":"7dca79e5.3c5e58","type":"ui_gauge","z":"702583a0.d95b6c","name":"","group":"9e3ac2bf.73c09","order":1,"width":"4","height":"4","gtype":"gage","title":"Loft","label":"units","format":"{{value}}","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":180,"wires":[]},{"id":"6194e7f6.2a6bd8","type":"link out","z":"94a4de83.e6708","name":"Main Hall Temp Out","links":["3214da08.8a2806"],"x":1135,"y":240,"wires":[]},{"id":"fe3239a8.daa1c8","type":"link out","z":"94a4de83.e6708","name":"Main Hall Humidity Out","links":["8ae34a9d.c404b8"],"x":1135,"y":440,"wires":[]},{"id":"1cc497ad.ab1d78","type":"link out","z":"daf5089f.e1c6a8","name":"Loft Temp Out","links":["d8002955.3e2378"],"x":1135,"y":220,"wires":[]},{"id":"d176d7ff.22c268","type":"link out","z":"daf5089f.e1c6a8","name":"Loft Humidity Out","links":["cf9476d7.0b5538"],"x":1135,"y":420,"wires":[]},{"id":"e03c53d2.e6458","type":"ui_gauge","z":"702583a0.d95b6c","name":"","group":"d67fc863.282e48","order":1,"width":"4","height":"4","gtype":"donut","title":"Alex's room","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":300,"wires":[]},{"id":"6abaa8eb.7a5118","type":"link in","z":"702583a0.d95b6c","name":"Alexroom Temp In","links":["89d7d116.1b5a7"],"x":215,"y":300,"wires":[["e03c53d2.e6458"]]},{"id":"1e3da431.0e6edc","type":"link in","z":"702583a0.d95b6c","name":"Bedroom Temp In","links":["fd2bf7ad.528bd8"],"x":215,"y":340,"wires":[["f6795285.cfda"]]},{"id":"f6795285.cfda","type":"ui_gauge","z":"702583a0.d95b6c","name":"","group":"d67fc863.282e48","order":2,"width":"4","height":"4","gtype":"donut","title":"Main Bedroom","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":340,"wires":[]},{"id":"8ae34a9d.c404b8","type":"link in","z":"702583a0.d95b6c","name":"Bedroom Temp In","links":["fe3239a8.daa1c8"],"x":215,"y":380,"wires":[[]]},{"id":"42748064.3165e","type":"ui_gauge","z":"702583a0.d95b6c","name":"","group":"d67fc863.282e48","order":3,"width":"4","height":"4","gtype":"donut","title":"Main Hall","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":380,"wires":[]},{"id":"cf9476d7.0b5538","type":"link in","z":"702583a0.d95b6c","name":"Bedroom Temp In","links":["d176d7ff.22c268"],"x":215,"y":420,"wires":[[]]},{"id":"574769cd.c4ce98","type":"ui_gauge","z":"702583a0.d95b6c","name":"","group":"d67fc863.282e48","order":4,"width":"4","height":"4","gtype":"donut","title":"Loft","label":"units","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":330,"y":420,"wires":[]},{"id":"307dbae8.bf2b36","type":"ui_chart","z":"702583a0.d95b6c","name":"","group":"af312d05.44a6d","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":350,"y":20,"wires":[[],[]]},{"id":"759c9433.89052c","type":"ui_chart","z":"702583a0.d95b6c","name":"","group":"af312d05.44a6d","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":340,"y":260,"wires":[[],[]]},{"id":"a45e31f1.ca43b","type":"mqtt in","z":"d26c045e.cfa138","name":"fan","topic":"/home/sonoff/fan","qos":"2","broker":"74f0cdca.3b09a4","x":150,"y":80,"wires":[["5437cab6.fa7814","a62c92.11acf37"]]},{"id":"3d6ad560.26e1fa","type":"mqtt in","z":"d26c045e.cfa138","name":"mirror","topic":"/home/sonoff/mirror","qos":"2","broker":"74f0cdca.3b09a4","x":150,"y":160,"wires":[["5437cab6.fa7814","bb923fa4.59558"]]},{"id":"a62c92.11acf37","type":"link out","z":"d26c045e.cfa138","name":"Bathroom fan","links":["6791d3d0.950f4c","31f94fe.a4aadb"],"x":335,"y":80,"wires":[]},{"id":"bb923fa4.59558","type":"link out","z":"d26c045e.cfa138","name":"Bathroom Mirror","links":["63dcbf4f.bf97a","895621f6.00b75"],"x":335,"y":160,"wires":[]},{"id":"5437cab6.fa7814","type":"debug","z":"d26c045e.cfa138","name":"","active":true,"console":"false","complete":"false","x":340,"y":120,"wires":[]},{"id":"a7b14b71.e14368","type":"e-mail","z":"9a4c3fce.6a801","server":"smtp.gmail.com","port":"465","secure":true,"name":"kevinmcaleer@gmail.com","dname":"gmail","x":570,"y":260,"wires":[]},{"id":"a916507c.f674c","type":"mqtt in","z":"9a4c3fce.6a801","name":"","topic":"/home/sonoff/fan","qos":"2","broker":"74f0cdca.3b09a4","x":140,"y":160,"wires":[[]]},{"id":"ada26285.92b77","type":"delay","z":"9a4c3fce.6a801","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":340,"y":160,"wires":[[]]},{"id":"e40df96.729a408","type":"function","z":"9a4c3fce.6a801","name":"email","func":"msg.payload = \"Fan turned on.\"\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":220,"wires":[[]]},{"id":"290eb479.df301c","type":"mongodb in","z":"3616f39.b20230c","mongodb":"8b333558.5c5d08","name":"","collection":"temperature","operation":"find","x":540,"y":160,"wires":[[]]},{"id":"4c6ab25d.8b33ac","type":"http response","z":"3616f39.b20230c","name":"","statusCode":"","headers":{},"x":770,"y":160,"wires":[]},{"id":"e6f60db6.64f7b","type":"http in","z":"3616f39.b20230c","name":"db records view","url":"/list","method":"get","upload":false,"swaggerDoc":"","x":220,"y":160,"wires":[[]]},{"id":"a1423582.f680a8","type":"homekit-service","z":"3616f39.b20230c","accessory":"e787fab.76b4d08","name":"","serviceName":"MotionSensor","x":1100,"y":240,"wires":[[]]},{"id":"1c507ae7.815795","type":"hue-motion","z":"3616f39.b20230c","name":"Upstairs hall sensor","bridge":"f8a3dba1.03a998","sensorid":"26","x":270,"y":240,"wires":[["3a861ca.3dc4ee4"]]},{"id":"3a861ca.3dc4ee4","type":"change","z":"3616f39.b20230c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.motion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":240,"wires":[["e6dabd2d.09e97"]]},{"id":"e6dabd2d.09e97","type":"switch","z":"3616f39.b20230c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":650,"y":240,"wires":[["3414f8e8.910a58"],["78770f3a.02716"]]},{"id":"3414f8e8.910a58","type":"change","z":"3616f39.b20230c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"MotionDetected","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.MotionDetected","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":240,"wires":[["a1423582.f680a8"]]},{"id":"78770f3a.02716","type":"change","z":"3616f39.b20230c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"MotionDetected","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.MotionDetected","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":280,"wires":[["a1423582.f680a8"]]},{"id":"ab366e22.6cc87","type":"nest request","z":"ec033db7.91a4c","account":"440449ea.2788e8","devicetype":"thermostats","deviceid":"","streaming":"false","name":"Thermostat","x":470,"y":180,"wires":[["ca9fb30f.b8cee","180f1654.0eacfa"]]},{"id":"c84d414f.46fc2","type":"debug","z":"ec033db7.91a4c","name":"","active":true,"console":"false","complete":"false","x":830,"y":180,"wires":[]},{"id":"dc2d6b21.6353e8","type":"inject","z":"ec033db7.91a4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":210,"y":120,"wires":[["ab366e22.6cc87"]]},{"id":"ca9fb30f.b8cee","type":"function","z":"ec033db7.91a4c","name":"just Temp","func":"//var obj = JSON.parse(msg.payload);\n\tvar obj = msg.payload;\n\tvar messages = [];\n\n\t// .ambient_temperature_f\n\tfor(var key in obj)\n\t{\n\t    if (obj.hasOwnProperty(key))\n\t    {\n\t        messages.push({payload: obj[key].ambient_temperature_c});\n\t    }\n\t}\n\n\treturn messages;","outputs":"2","noerr":0,"x":640,"y":140,"wires":[["c84d414f.46fc2","bc2dc0e6.7f331"],[]]},{"id":"180f1654.0eacfa","type":"json","z":"ec033db7.91a4c","name":"","pretty":true,"x":630,"y":220,"wires":[["c84d414f.46fc2"]]},{"id":"b1b7c0b1.dc2b7","type":"hue-motion","z":"279be67c.ee4dfa","name":"Treppenhaus 1.OG Motion Sensor","bridge":"9579c8f1.55e568","sensorid":"17","x":140,"y":260,"wires":[["86357a12.a37158"]]},{"id":"7bd6cdde.275c04","type":"change","z":"279be67c.ee4dfa","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"MotionDetected","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.MotionDetected","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":681,"y":238,"wires":[["97bcbbc3.8190f8"]]},{"id":"a40c9a3c.5dcc68","type":"homekit-service","z":"279be67c.ee4dfa","accessory":"1c7c5077.9aa7","name":"MotionSensor Treppenhaus 1.OG","serviceName":"MotionSensor","x":1095,"y":248,"wires":[[]]},{"id":"3bfb355d.5cf2fa","type":"switch","z":"279be67c.ee4dfa","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":528,"y":260,"wires":[["7bd6cdde.275c04"],["4572c7f6.7e2ad8"]]},{"id":"86357a12.a37158","type":"change","z":"279be67c.ee4dfa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.motion","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":260,"wires":[["3bfb355d.5cf2fa"]]},{"id":"4572c7f6.7e2ad8","type":"change","z":"279be67c.ee4dfa","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"MotionDetected","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"payload.MotionDetected","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":274,"wires":[["97bcbbc3.8190f8"]]},{"id":"42c4a505.fe5f4c","type":"function","z":"279be67c.ee4dfa","name":"Toogle","func":"let state = context.get('state');\nlet out = \"\";\nif(state == null){\n    context.set('state',false);\n}\n\nif(state == true){\n    state   = false;\n    output = \"STOP\";\n}else{\n    state   = true;\n    output = \"GO\"\n}\n\ncontext.set('state',state);\nreturn { \"payload\":output };","outputs":"1","noerr":0,"x":770,"y":420,"wires":[["97bcbbc3.8190f8"]]},{"id":"97bcbbc3.8190f8","type":"traffic","z":"279be67c.ee4dfa","name":"","property_allow":"payload","filter_allow":"GO","ignore_case_allow":false,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"STOP","ignore_case_stop":false,"negate_stop":false,"send_stop":false,"default_start":false,"differ":false,"x":863,"y":248,"wires":[["a40c9a3c.5dcc68"]]},{"id":"bbf102d0.064a1","type":"comment","z":"279be67c.ee4dfa","name":"detect a button pushed event","info":"","x":320,"y":320,"wires":[]},{"id":"bc2dc0e6.7f331","type":"link out","z":"ec033db7.91a4c","name":"LivingRoom Temp Out","links":[],"x":860,"y":120,"wires":[]}]
